.errorBlock {
    background-color: #f0d9e5;
    margin: 10px 0;
    margin-right: 20px;
    padding: 10px;
    border-radius: 4px;
    color: #890b35;
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: left;
  }
  
  .errorBlockIcon {
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    color: #fff;
    background-color: #890b35;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .errorBlock h2 {
    color: inherit;
    font-size: 1.25rem;
    margin: 0;
  }
  
  .errorBlock p {
    margin: 0;
  }